<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sobre o ECSG</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>O que é o SE-ECSG?</h1>
    <p>SE é uma abreviação para Sistema Especialista.
        <br>
        Mas o que é um sistema especialista?
        <br>
        <br>
        É uma ferramenta desenvolvida com o intuito de resolver certos problemas computacionalmente, 
        emulando o conhecimento e o mecanismo de raciocínio de um profissional com experiência e conhecimento
        reconhecidos em uma determinada área. 
        <br>
        Um sistema especialista é feito desmembrando dois assuntos principais, sendo eles a base de conhecimento
         (de um especialista) e o motor de inferência para guardar o raciocínio do especialista em questão 
         (MAYLAWATI et al., 2017). 
         <br>
         A base de conhecimento pode ser tanto derivada de diversos humanos, quanto de outros sistemas especialistas
         , os quais possuem sua própria base de conhecimento (GROGONO et al. 1993).
         <br>
         <br>
         Definimos o significado de SE (Sistema Especialista), então devemos conceituar o "ECSG".
         <br>
         Dividiremos em EC &  SG, onde:
         <br>
         EC = Engenharia Cognitiva;
         <br>
         SG = Serious Game.
    </p>
</body>
</html>