<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrando-se no ECSG</title>
    <link rel="stylesheet" href="/css/gamepanel.css">
	<link rel="stylesheet" href="/css/main.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>

<body>
    <div class="title">Gerenciamento de Serious Games</div>
    <form method="GET" action="/gamepanel">
        <div class="buttons">
            <a href="/gameform" class="button bold">Cadastrar serious game</a>
        </div>

        <div class="table">
            <div class="row header">
                <div class="col-4">Serious Game</div>
                <div class="col-2">Avaliação Heurística</div>
                <div class="col-2">Ação</div>
            </div>
            <% for (let i = 0; i < 10; i ++) { %>
            <div class="row">
                <div class="col-4">Jogo do caraio <%= i %></div>
                <div class="col-2"><%= i % 2 == 0 ? "Preenchimento Pendente" : "Preenchido" %></div>
                <div class="col-2">
                    <button class="button small" type="button">Ver Resultados</button>
                    <a class="button small gray" href="#">Fazer outra coisa</a>
                </div>
            </div>
            <% } %>
        </div>
    </form>
</body>

</html>