<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrando-se no ECSG</title>
    <link rel="stylesheet" href="/css/register.css">
	<link rel="stylesheet" href="/css/main.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>



</head>

<body>
    <div class="title">Formulário para cadastro de serious game</div>
    <form method="POST" action="/gameform" class="form">
        <section class="grid grid-template-rows">
            <div class="nome form-align">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" placeholder="Digite o nome do serious game" id="nome" maxlength="50" required="required" class="form-control">
            </div>
            <div class="sobrenome form-align">
                <label for="genero">Gênero:</label>
                <input type="text" name="genero" id="genero" placeholder="Digiteo o gênero do serious game" maxlength="30" required="required" class="form-control">
            </div>

            <div class="form-align form-top">
                <label for="foco">Selecione o foco do serious game</label>
                <select class="foco form-control" name="foco">
                    <option value="Treinamento">Treinamento sobre algum assunto</option>
                    <option value="Postura">Mudança de atitude</option>
                    <option value="Disseminacao">Disseminação de conhecimento</option>
                    <option value="Alertar">Alertar questões naturais</option>
                </select>
            </div>
            <div class="form-align form-top">
                    <label for="descricao">Descrição:</label>
                    <textarea name="descricao" id="descricao" required="required" class="form-control" /></textarea>
                </div>            
        </section>
        <div class="buttons">
            <button type="reset" class="btn-reset button gray">Resetar preenchimentos</button>
            <button type="submit" class="btn-final button">Finalizar cadastro</button>            
        </div>

    </form>
    <script src="/js/register.js"></script>
</body>

</html>