<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sistema Especialista ECSG</title>
    <link rel="stylesheet" href="/css/heuristicform.css">
</head>

<body>

<div class="wrap">
        <h2 class="likert-header">Formulário para avaliação de serious game</h2>
        <form action="">
          <label class="statement">This HTML Likert scale is easy to use sfds dsfds fds fdsf dsfs dfds fdf dsfds fsd fd fdsfds fds.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label>Concordo plenamente</label>
            </li>
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label>Concordo</label>
            </li>
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label>Não concordo nem discordo</label>
            </li>
            <li>
              <input type="radio" name="likert" value="disagree">
              <label>Discordo</label>
            </li>
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label>Discordo plenamente</label>
            </li>
          </ul>
          <label class="statement">It's clear that this is a responsive design.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="likert" value="disagree">
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label>Strongly disagree</label>
            </li>
          </ul>
          <label class="statement">Codepen.io is an excellent tool for prototyping.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="likert" value="disagree">
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label>Strongly disagree</label>
            </li>
          </ul>
          <label class="statement">Pete Fecteau is incredibly smart and handsome.</label>
          <ul class='likert'>
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label>Strongly agree</label>
            </li>
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label>Agree</label>
            </li>
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label>Neutral</label>
            </li>
            <li>
              <input type="radio" name="likert" value="disagree">
              <label>Disagree</label>
            </li>
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label>Strongly disagree</label>
            </li>
          </ul>
          <div class="buttons">
                <button type="reset" class="btn-reset">Resetar preenchimentos</button>
                <button type="submit" class="btn-final">Finalizar cadastro</button>    
          </div>
        </form>
      </div>
      </body>
      </html>