<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sistema Especialista ECSG</title>
  <link rel="stylesheet" href="/css/heuristicform.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>

<body>

  <div class="wrap">
    <h2 class="likert-header">Formulário para avaliação de serious game</h2>
    <form method="POST" action="/heuristicform">
      <label class="statement">Ao perceber que o jogador não está conseguindo progredir, o jogo adapta a dificuldade dos desafios às habilidades do
        praticante (adaptatividade).</label>
      <ul class='likert heuristic-one'>
        <li>
          <input type="radio" name="likert-one" value="strong_disagree" required>
          <label>Discordo plenamente</label>
        </li>
        <li>
          <input type="radio" name="likert-one" value="disagree">
          <label>Discordo</label>
        </li>
        <li>
          <input type="radio" name="likert-one" value="neutral">
          <label>Não concordo nem discordo</label>
        </li>
        <li>
          <input type="radio" name="likert-one" value="agree">
          <label>Concordo</label>
        </li>
        <li>
          <input type="radio" name="likert-one" value="strong_agree">
          <label>Concordo plenamente</label>
        </li>
      </ul>
      <label class="statement">Os termos apresentados condizem com o vocabulário do jogador.</label>
      <ul class='likert heuristic-two'>
        <li>
          <input type="radio" name="likert-two" value="strong_disagree" required>
          <label>Discordo plenamente</label>
        </li>
        <li>
          <input type="radio" name="likert-two" value="disagree">
          <label>Discordo</label>
        </li>
        <li>
          <input type="radio" name="likert-two" value="neutral">
          <label>Não concordo nem discordo</label>
        </li>
        <li>
          <input type="radio" name="likert-two" value="agree">
          <label>Concordo</label>
        </li>
        <li>
          <input type="radio" name="likert-two" value="strong_agree">
          <label>Concordo plenamente</label>
        </li>
      </ul>
      <label class="statement">O jogo exige que o jogador memorize certas coisas (comandos, valores, sequências, formas de resolução) com certa frequência.</label>
      <ul class='likert heuristic-three'>
        <li>
          <input type="radio" name="likert-three" value="strong_disagree" required>
          <label>Discordo plenamente</label>
        </li>
        <li>
          <input type="radio" name="likert-three" value="disagree">
          <label>Discordo</label>
        </li>
        <li>
          <input type="radio" name="likert-three" value="neutral">
          <label>Não concordo nem discordo</label>
        </li>
        <li>
          <input type="radio" name="likert-three" value="agree">
          <label>Concordo</label>
        </li>
        <li>
          <input type="radio" name="likert-three" value="strong_agree">
          <label>Concordo plenamente</label>
        </li>
      </ul>
      <label class="statement">O jogo é composto por um enredo atrativo.</label>
          <ul class='likert heuristic-four'>
            <li>
              <input type="radio" name="likert-four" value="strong_disagree" required>
              <label>Discordo plenamente</label>
            </li>
            <li>
              <input type="radio" name="likert-four" value="disagree">
              <label>Discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-four" value="neutral">
              <label>Não concordo nem discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-four" value="agree">
              <label>Concordo</label>
            </li>
            <li>
              <input type="radio" name="likert-four" value="strong_agree">
              <label>Concordo plenamente</label>
            </li>
          </ul>
          <label class="statement">O jogador recebe prêmios ao realizar tarefas.</label>
          <ul class='likert heuristic-five'>
            <li>
              <input type="radio" name="likert-five" value="strong_disagree" required>
              <label>Discordo plenamente</label>
            </li>
            <li>
              <input type="radio" name="likert-five" value="disagree">
              <label>Discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-five" value="neutral">
              <label>Não concordo nem discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-five" value="agree">
              <label>Concordo</label>
            </li>
            <li>
              <input type="radio" name="likert-five" value="strong_agree">
              <label>Concordo plenamente</label>
            </li>
          </ul>
          <label class="statement">A área de interação entre o jogador e o ambiente (interface) o deixa confortável.</label>
          <ul class='likert heuristic-six'>
            <li>
              <input type="radio" name="likert-six" value="strong_disagree" required>
              <label>Discordo plenamente</label>
            </li>
            <li>
              <input type="radio" name="likert-six" value="disagree">
              <label>Discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-six" value="neutral">
              <label>Não concordo nem discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-six" value="agree">
              <label>Concordo</label>
            </li>
            <li>
              <input type="radio" name="likert-six" value="strong_agree">
              <label>Concordo plenamente</label>
            </li>
          </ul>
      <label class="statement">O jogo apresenta tarefas repetitivas.</label>
      <ul class='likert heuristic-seven'>
        <li>
          <input type="radio" name="likert-seven" value="strong_disagree" required>
          <label>Discordo plenamente</label>
        </li>
        <li>
          <input type="radio" name="likert-seven" value="disagree">
          <label>Discordo</label>
        </li>
        <li>
          <input type="radio" name="likert-seven" value="neutral">
          <label>Não concordo nem discordo</label>
        </li>
        <li>
          <input type="radio" name="likert-seven" value="agree">
          <label>Concordo</label>
        </li>
        <li>
          <input type="radio" name="likert-seven" value="strong_agree">
          <label>Concordo plenamente</label>
        </li>
      </ul>
      <label class="statement">O jogador pode perder conquistas caso falhe nos desafios.</label>
          <ul class='likert heuristic-eight'>
            <li>
              <input type="radio" name="likert-eight" value="strong_disagree" required>
              <label>Discordo plenamente</label>
            </li>
            <li>
              <input type="radio" name="likert-eight" value="disagree">
              <label>Discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-eight" value="neutral">
              <label>Não concordo nem discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-eight" value="agree">
              <label>Concordo</label>
            </li>
            <li>
              <input type="radio" name="likert-eight" value="strong_agree">
              <label>Concordo plenamente</label>
            </li>
          </ul>
          <label class="statement">O sistema apresenta feedback imediato para as ações do usuário (reconhecimento por rastreamento) sem requerer tempo adicional (evitando a expectativa e insatisfação do usuário).</label>
          <ul class='likert heuristic-nine'>
            <li>
              <input type="radio" name="likert-nine" value="strong_disagree" required>
              <label>Discordo plenamente</label>
            </li>
            <li>
              <input type="radio" name="likert-nine" value="disagree">
              <label>Discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-nine" value="neutral">
              <label>Não concordo nem discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-nine" value="agree">
              <label>Concordo</label>
            </li>
            <li>
              <input type="radio" name="likert-nine" value="strong_agree">
              <label>Concordo plenamente</label>
            </li>
          </ul>
          <label class="statement">O jogo apresenta uma série de comandos complexos durante a experiência.</label>
          <ul class='likert heuristic-ten'>
            <li>
              <input type="radio" name="likert-ten" value="strong_disagree" required>
              <label>Discordo plenamente</label>
            </li>
            <li>
              <input type="radio" name="likert-ten" value="disagree">
              <label>Discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-ten" value="neutral">
              <label>Não concordo nem discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-ten" value="agree">
              <label>Concordo</label>
            </li>
            <li>
              <input type="radio" name="likert-ten" value="strong_agree">
              <label>Concordo plenamente</label>
            </li>
          </ul>
          <label class="statement">O jogo em questão apresenta formas para que o jogador perca a noção do tempo externo enquanto participa da experiência. (imersão)</label>
          <ul class='likert heuristic-eleven'>
            <li>
              <input type="radio" name="likert-eleven" value="strong_disagree" required>
              <label>Discordo plenamente</label>
            </li>
            <li>
              <input type="radio" name="likert-eleven" value="disagree">
              <label>Discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-eleven" value="neutral">
              <label>Não concordo nem discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-eleven" value="agree">
              <label>Concordo</label>
            </li>
            <li>
              <input type="radio" name="likert-eleven" value="strong_agree">
              <label>Concordo plenamente</label>
            </li>
          </ul>
          <label class="statement">As tarefas designadas ao jogador, dentro do jogo, são de alta complexidade.</label>
          <ul class='likert heuristic-twelve'>
            <li>
              <input type="radio" name="likert-twelve" value="strong_disagree" required>
              <label>Discordo plenamente</label>
            </li>
            <li>
              <input type="radio" name="likert-twelve" value="disagree">
              <label>Discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-twelve" value="neutral">
              <label>Não concordo nem discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-twelve" value="agree">
              <label>Concordo</label>
            </li>
            <li>
              <input type="radio" name="likert-twelve" value="strong_agree">
              <label>Concordo plenamente</label>
            </li>
          </ul>
          <label class="statement">O jogo dá dicas para o jogador quando identifica que ele não consegue progredir.</label>
          <ul class='likert heuristic-thirteen'>
            <li>
              <input type="radio" name="likert-thirteen" value="strong_disagree" required>
              <label>Discordo plenamente</label>
            </li>
            <li>
              <input type="radio" name="likert-thirteen" value="disagree">
              <label>Discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-thirteen" value="neutral">
              <label>Não concordo nem discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-thirteen" value="agree">
              <label>Concordo</label>
            </li>
            <li>
              <input type="radio" name="likert-thirteen" value="strong_agree">
              <label>Concordo plenamente</label>
            </li>
          </ul>
          <label class="statement">O jogador pode alterar os comandos caso desejar.</label>
          <ul class='likert heuristic-fourteen'>
            <li>
              <input type="radio" name="likert-fourteen" value="strong_disagree" required>
              <label>Discordo plenamente</label>
            </li>
            <li>
              <input type="radio" name="likert-fourteen" value="disagree">
              <label>Discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-fourteen" value="neutral">
              <label>Não concordo nem discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-fourteen" value="agree">
              <label>Concordo</label>
            </li>
            <li>
              <input type="radio" name="likert-fourteen" value="strong_agree">
              <label>Concordo plenamente</label>
            </li>
          </ul>
          <label class="statement">O jogador pode salvar o progresso alcançado.</label>
          <ul class='likert heuristic-fifteen'>
            <li>
              <input type="radio" name="likert-fifteen" value="strong_disagree" required>
              <label>Discordo plenamente</label>
            </li>
            <li>
              <input type="radio" name="likert-fifteen" value="disagree">
              <label>Discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-fifteen" value="neutral">
              <label>Não concordo nem discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-fifteen" value="agree">
              <label>Concordo</label>
            </li>
            <li>
              <input type="radio" name="likert-fifteen" value="strong_agree">
              <label>Concordo plenamente</label>
            </li>
          </ul>
          <label class="statement">O jogo possui tutorial.</label>
          <ul class='likert heuristic-sixteen'>
            <li>
              <input type="radio" name="likert-sixteen" value="strong_disagree" required>
              <label>Discordo plenamente</label>
            </li>
            <li>
              <input type="radio" name="likert-sixteen" value="disagree">
              <label>Discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-sixteen" value="neutral">
              <label>Não concordo nem discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-sixteen" value="agree">
              <label>Concordo</label>
            </li>
            <li>
              <input type="radio" name="likert-sixteen" value="strong_agree">
              <label>Concordo plenamente</label>
            </li>
          </ul>
          <label class="statement">O tutorial é cativante e possibilita aprender os comandos básicos para iniciar a experiência.</label>
          <ul class='likert heuristic-seventeen'>
            <li>
              <input type="radio" name="likert-seventeen" value="strong_disagree" required>
              <label>Discordo plenamente</label>
            </li>
            <li>
              <input type="radio" name="likert-seventeen" value="disagree">
              <label>Discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-seventeen" value="neutral">
              <label>Não concordo nem discordo</label>
            </li>
            <li>
              <input type="radio" name="likert-seventeen" value="agree">
              <label>Concordo</label>
            </li>
            <li>
              <input type="radio" name="likert-seventeen" value="strong_agree">
              <label>Concordo plenamente</label>
            </li>
          </ul>
      <div class="buttons">
        <button type="reset" class="btn-reset">Resetar preenchimentos</button>
        <button type="submit" class="btn-final">Finalizar cadastro</button>
      </div>
    </form>
    <script src="/js/inference.js"></script>
  </div>
</body>

</html>