<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sistema Especialista ECSG</title>
    <link rel="stylesheet" href="/css/home.css">
	<link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js"></script>
</head>

<body>
    
    <div class="title"> Seja bem vindo(a) ao sistema especialista ECSG </div>
    
    <p> Ferramenta criada com o objetivo de avaliar questões sobre engenharia cognitiva em serious games.</p>
    <div class="clearfix"></div>
        <p>Para poder utilizar a ferramenta, é necessário que você
    <a class="cadastro" href="/register">realize o seu cadastro</a>
    ou
    <a class="login" href="/login">acesse sua conta.</a></p>    

    <div class="clearfix"></div>
    <p>Sinta-se livre para enviar sugestões, ou até mesmo reportar bugs durante a utilização do sistema, enviando um e-mail
    para nós.</p>

    <div class="menu-navegacao">
        <a class="menu-options button green" href="/register">Registro</a>
        <a class="menu-options button" href="login">Login</a>
        <a class="menu-options button gray" href="/about">Sobre o ECSG</a>
    </div>

</body>

</html>