<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login SE-ECSG</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/main.js"></script>
</head>

<body>

    <div class="title">Entrando no SE-ECSG</div>
    <form action="/login" method="POST">

        <div id="form">
            <input type="text" name="username" id="nome" placeholder="Usuário" />

            <input type="password" name="password" id="password" placeholder="Senha">

        </div>

        <div class="menu-navegacao">
            <button class="menu-options button green" type="submit">Login</button>
            <button class="menu-options button gray" type="reset">Resetar</button>
        </div>


    </form>
</body>

</html>