<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login SE-ECSG</title>
    <script src="/js/main.js"></script>
</head>
<body>
    
    <div>
        <label for="nome">Usuário:</label>
        <input type="text" id="nome" />
    </div>

    <div>
        <label for="password">Senha:</label>
        <input type="password" name="password">
    </div>
    
    <div class="button">
        <button type="submit">Login</button>
    </div>

    <div class="button">
        <button type="reset">Resetar</button>
    </div>
    
</body>
</html>