h2 {
    text-align: center;
    margin-bottom: 72px;
    margin-top: 64px;
    opacity: 0;
    transform: translateY(-128px);
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100vw !important;
  height: 100vh !important;
}

p{
    font-size: 16px;
    margin-bottom: 1.5em;
    line-height: 1.4em;
    text-align: center;
}

.menu-navegacao{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 64px;
}

.menu-navegacao ul{
    list-style-type: none; 
}

.menu-options{
    font-size: 15px;    
    text-decoration:none; 
    color: black;
}


.menu-navegacao ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .menu-navegacao li{
    width: 130px;
    border: 2px solid black;
    margin: 5px;
    padding: 3px; 
    display: inline;
    cursor: pointer;
}

.come-down {
  animation: down 1s forwards;
}

@keyframes down {
  from { opacity: 0;     transform: translateY(-128px);}
  to { opacity: 1;     transform: translateY(0);}
}

.button {
    max-width: 320px;
    width: 30%;
}