* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 16px;
    margin-bottom: 1.5em;
    line-height: 1.4em;
    text-align: center;
}

h2{
    text-align: center;
    margin-bottom: 46px;
    margin-top: 32px;
}

.report-title{
    padding-top: 65px;
    font-size: 20px;
}

.heuristics-statement{
    padding-top: 50px;
    font-size: 18px;
}

.heuristic-response{
    padding: 0 40px 0 40px;
}