.title {
    margin-bottom: 42px !important;
}

.menu-navegacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
}

.button {
    max-width: 320px;
    width: 30%;
}