* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-width: 992px !important;  
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
  
@media (min-width: 576px) {
    body {
      max-width: 540px;
    }
}
  
@media (min-width: 768px) {
    body {
      max-width: 720px;
    }
}
  
@media (min-width: 992px) {
    body {
      max-width: 960px;
    }
}

@media (min-width: 1200px) {
    body {
      max-width: 1140px;
    }
}
  
.table {
  width: 100%;
  font-size: 1rem;
}

.table > .row {
  width: 100%;
  display: flex;
  text-align: center;
  cursor: pointer;
  align-items: center;
  transition: 0.1s;
}
.table > .row:not(.header):nth-child(even) {
  background: #f0f0f0;
}

.table > .row:not(.header):hover {
  background: #cccccc;
}

.table > .row > div {
  text-align: left;
  padding: 12px 8px;
  flex: 1;
}

.table > .row > div.col-2 { flex: 2; }
.table > .row > div.col-3 { flex: 3; }
.table > .row > div.col-4 { flex: 4; }
.table > .row > div.col-5 { flex: 5; }
.table > .row > div.col-6 { flex: 6; }

.table > .row.header {
  font-weight: bold;  
  border-bottom: 2px solid #6b6b6b;
}

.button {
  cursor: pointer;  
  font-size: 1rem;
  text-align: center;
  border: none;
  outline: none;
  padding: 8px 24px;
  border-radius: 4px;
  color: white;
  box-shadow: 0px 1px 4px 0px #00000052;
  transition: 0.4s;
  background-color: #61aad4;
  text-decoration: none; 
}

.button:hover { background-color: #4d94bd; }

.button.bold {
  font-weight: 600;
}

.button.small {
  font-size: 0.8rem;
  padding: 4px 16px;
}

.button.red { background-color: #da4a4a; }
.button.red:hover { background-color: #af3737; }

.button.gray { background-color: #818181; }
.button.gray:hover { background-color: #4e4d4d; }

.title {
  width: fit-content;
  padding-right: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: left;
  border-bottom: 2px solid #e2e2e2;
  padding-bottom: 8px;
  font-size: 1.5rem;
  font-weight: bold;
}

form { position: relative; }

.form label {  
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

.form input {
  border-radius: 6px;
  outline: none;
  border: 1px solid #e2e2e2;
  padding: 6px 24px;
}


.form .form-align {
  position: relative;
  min-height: 1px;
  padding-right: 16px;
  float: left;
  width: 100%;

}

.form .form-align:nth-child(even) {
  padding-left: 16px;
}

.form .form-control {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 15px;
  color: #555;
  background-color: #fff;
  border: 3px solid #ccc;
  border-radius: 4px;
  margin-left: 0;
  padding-left: 0;
  border: 1px solid #ccc;
  padding: 0 8px;
}