* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    background: black;
    overflow: hidden;
}

div {
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    color: #ffffff;
    cursor: pointer;    
    transition: 0.1s;
    position: relative;
}
div:active{
    background: #050505;
}

div > * {
    position: absolute;
    transition: 1s;
    user-select: none;
    animation: comeup 1s forwards;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div > h1 {
    padding-bottom: 64px;
}

div > h2 {
    animation-delay: 0.8s;
    padding-top: 64px;
}

div > a {
    text-decoration: none;
    color: #fff;
    animation-delay: 1.4s;
    padding-top: 216px;
}

@keyframes comeup {
    from { 
        opacity: 0.1;
        top: 100%;
    }
    to {
        opacity: 1;
        top: 50%;
    }
}

body{
    background-color: #F0F8FF;
}

body > p > a{
    color: #050505;
    font-weight: bold;
}

