select {
    margin-left: 25px;
}

.form-top {
    margin-top: 25px;
}

form {
    margin-top: 48px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin-top: 32px;
    width: 240px;
}
.button.gray {
    margin-right: 64px;
}

::placeholder {
    color: #D3D3D3;
    opacity: 1;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-template-rows {
    grid-template-rows: 50px 100px 50px 100px;
}
